<nav class="navbar navbar-default  navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-section" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "iDone List", "/", class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-section">
      <ul class="nav navbar-nav">
        <li><%= link_to 'User Stories', "/help" %></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <% if session["user_id"].present? %>
          <% user = User.find_by(id: session["user_id"]) %>
          <p class="navbar-text">Hello, <%= user.name %></p>
          <li><%= link_to "My Account", "/users/#{user.id}" %></li>
          <li><%= link_to "Sign Out", '/logout', method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", "/users/new" %></li>
          <li><%= link_to "Sign In", '/sessions/new' %></li>
        <% end %>

      </ul>

    </div>
  </div>
</nav>
